/* .App {
  text-align: center;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: #f13c20;
}


.nav__links  {
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black;  */
}


